.header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: green;
    color: #ffffff;
    font-size: 18px;
}

.footer {
    height: 100px;
    background-color: aquamarine;
}