<table class="table">
    <thead style="background-color: #cccccc;color: #ffffff">
        <tr>
            <th width="20%">#</th>
            <th width="20%">姓名</th>
            <th width="20%">年龄</th>
            <th width="20%">性别</th>
            <th width="20%">城市</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.area }}</td>
        </tr>
    </tbody>
</table>